/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
/* label#label_19_5_1,
label#label_19_10_1{
    font-weight: 300;
} */
header .tabletHide .fl-rich-text ul{
    list-style: none;
    padding-left: 0px!important;
}
.spe-buy-row .hideCol {
	display: none;
}
.align-issue .fl-gallery-item{
	left: auto !important;
}
.spe-buy-row .colCenter {
	margin: 0 auto;
    float: none;
}
.display_none{display:none;}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=number], input[type=search], input[type=url], textarea, select {

    background-color: #fcfcfc;
    background-image: none;
    border: 1px solid #e6e6e6;
    -moz-transition: all ease-in-out .15s;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.phone-icon .fl-rich-text > p{
    margin: 0px!important;
}
.color-issue .direction span{
	color: #fff !important;
}
.phone-icon .fl-rich-text ul.storename{
    margin-bottom: 6px!important;
}
@media(min-width:1025px){
	#menu-item-1084871{
		display: none !important;
	}
}
@media(min-width:768px) and (max-width:1024px){
	.fl-module-heading h1.fl-heading span{
		font-size: 33px;
	}
	.store-opening-hrs li span{
		font-size: 15px !important;
	}
}
h1.fl-post-title a{
	color: #000 !important;
}
.header_btn .fl-module-content{
	 margin-top: 0px!important;
}
@media(max-width:500px){
	.style-list .back-button{
		left: -10px !important;
	}
}
@media(max-width:767px){
	button#responsive-menu-button{
		top: 35px !important;
	}
}
footer .storename .phone a:before,
.post-349395 .storename .phone a:before{
	content: "\f879";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    line-height: 1;
    margin-right: 8px;
}
footer i.fab.fa-facebook { color: #1877f2!important;}

footer i.fab.fa-twitter {color: #1da1f2!important;}

footer i.fab.fa-youtube {color: #ff0000!important;}

footer i.fab.fa-pinterest {color: #bd081c!important;}

footer i.fab.fa-linkedin { color: #0a66c2!important;}

footer i.fab.fa-houzz { color: #4dbc15!important;}
input[type=text]:focus, input[type=password]:focus, 
input[type=email]:focus, input[type=tel]:focus, 
input[type=date]:focus, input[type=month]:focus,
 input[type=week]:focus, input[type=time]:focus, 
 input[type=number]:focus, input[type=search]:focus, 
 input[type=url]:focus, textarea:focus, select:focus {
    background-color: #fff;
    border-color: #ccc;
    outline: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.fl-node-5fc69439e631a .fl-module-content .uabb-tabs .uabb-tabs-nav5fc69439e631a ul li {
    margin: 5px 5px!important;
}
.phone-icon a:before{
	content: "\f879";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    line-height: 1;
    margin-right: 10px;
}
.fl-module > .fl-module-content .uabb-gf-style .gform_wrapper .gfield .gfield_time_ampm select {
    margin-top: -3px!important;
}
.fl-builder-content .fl-node-5fd126af8dc40 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {
    color: #000!important;
}
#responsive-menu-additional-content  *{
    color: #fff!important;
}
.gform_fields  .gfield .ginput_container_time{
    margin-top: 6px;
}
.search-row .getcoupon-btn{
    background-color: #fff!important;
    color: #b72025!important;
}
.search-row header{
    display: none!important;
}
.search-row{
    padding: 20px!important;
}
header .storename .phone a:hover span{
    color: #abab44!important;
} 
.search-row .getcoupon-btn:hover{
    background-color: #fff!important;
    color: #000!important;
}
.search-row .product-grid > .plp-view-product span, .search-row .product-grid > .plp-view-product {
    background-color: #b72025!important;
    color: #fff!important;
    display: block;
    padding: 12px;
}
.search-row .product-grid > .plp-view-product:hover, .search-row .product-grid > .plp-view-product:hover span{
    background-color: #000!important;
    color: #fff!important;
	text-decoration: none!important;
}
 
div#responsive-menu-additional-content h3{ 
    font-size: 14px;
}
div#responsive-menu-additional-content .storename { 
    margin-bottom: 12px;
}

div#responsive-menu-additional-content { 
    padding: 10px 28px!important;
}

.addressLoc .storename .address a p{
    margin: 0px!important;
    padding: 0px!important;
}
.fl-module > .fl-module-content .uabb-gf-style .gform_wrapper .gfield select{
    margin-top: 0px!important;
}
.contactBox p{
    margin: 0px!important;
     padding: 0px!important;
}
utton#responsive-menu-button {
    width: 45px!important;
    height: 45px!important;
}
.product-plp-grid .product-grid.btn-grey>.fl-button {
   background-color: #b72025!important;
    color: #fff!important;
}
.product-plp-grid .product-grid.btn-grey>.fl-button:hover {
   background-color: #000!important;
    color: #fff!important;
}
.addressLoc .storename {
    margin: 0px!important;
    padding: 0px!important;
}
ul.store-opening-hrs {
    padding: 0px;
list-style: none;
}
ul.store-opening-hrs li{
    position: relative;

}
ul.store-opening-hrs li span{
    position: absolute;
    font-weight: 700!important;
    left: 150px;
    text-align: left!important;

}
.phone-icon a:hover{
	color: #abab44 !important;
}
label#label_19_10_1 a{
	color: #b72025 !important;
}
footer .hover-color .fl-rich-text:hover a span,
footer .hover-color .phone a span:hover{
	color: #767676 !important;
}
label#label_19_10_1 a:hover{
	color: #abab44 !important;
}
form .gfield.timeEstimate input[type=text], form .gfield.timeEstimate select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{
	margin-top: -3px !important;
}

header h1.fl-post-title{
    color: #000;
}

.headerDisInline > .fl-col-content{
	display: flex;
    flex-direction: row;
}

.product-plp-grid .product-grid.btn-grey > .fl-button:hover {
    background-color: #000!important;
    color: #fff!important;
}
.widget_meta{
	display: none!important;
}
.gfield_checkbox input[type=checkbox]{
	margin-top: 0px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}

.ui-datepicker-title .ui-datepicker-month, .ui-datepicker-title .ui-datepicker-year{
	color: #000!important;
}
form .gfield{
	padding-right: 15px!important;
}
form .gfield.timeEstimate input[type=text], form .gfield.timeEstimate select{
	    padding: 15px 4px!important;
}
.gform_wrapper .gfield_time_hour {
    max-width: calc(4rem + 2rem);
}
.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    min-width: 6rem!important;
}

.fl-post .fl-post-image-beside {
	width: 100%!important;
}
.gform_wrapper .gfield_time_ampm select{
	
	max-width: 100%!important;
	min-width: 6rem!important;
    width: 100%!important;
}
.gform_wrapper .gfield_time_ampm {
        max-width: 70px!important;
}
.fl-content-slider .fl-slide .fl-slide-content {
	padding: 0px!important;
}
.homepageslider .fl-slide .fl-slide-text > p:nth-child(1) {
	margin: 0px!important;
}
.header_btn a{
	padding: 5px 10px!important;	
}
.locationDetails .storename p, .locationDetails .storename, .locationDetails p {
	margin: 0px!important;
	padding: 0px!important;
}
.locationDetails .address a{
    color: #000!important;
    font-size: 18px!important;
}
.locationDetails .phone a span:before, #responsive-menu-additional-content .phone a span:before{
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
    margin-left: 2px!important;
}
.locationDetails .direction a{
    border-radius: 0px!important;
    transition: all 0.4s;
}
.locationDetails .direction a:hover{
    background-color: #000!important;
}
.locationDetails .store-opening-hrs li {
    position: relative;
}

.locationDetails ul.store-opening-hrs li > span {
    position: absolute;
    right: 0;
    font-weight: 700!important;
    color: #000;
}

.locationDetails .inlineHourse p, .locationDetails .inlineHourse .storename{
	display: inline-block!important;
}
/* TOGGLE BOX BOTTOM */


.locationDetailsTwo{

}
.locationDetailsTwo .storename p, .locationDetails .storename, .locationDetails p {
	margin: 0px!important;
	padding: 0px!important;
}
.locationDetailsTwo .address a{
    color: #000!important;
    font-size: 18px!important;
}
.locationDetailsTwo .phone a span:before{
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
.locationDetailsTwo .direction > a{
    border-radius: 0px!important;
    transition: all 0.4s;
    background: transparent!important;
    color: #00529b!important;
    font-weight: 700;
    font-size: 15px;
    border: none!important;
    padding: 0px!important;
}
.locationDetailsTwo .direction a:span{
    color: #00529b!important;
}
.locationDetailsTwo .direction a:after{
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-left: 5px!important;
}

.locationDetailsTwo .direction a.fl-button *, .locationDetailsTwo .direction a.fl-button:visited *{
    color: #00529b!important;
}
/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    display: none;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 100% ;
    /* display: none; */
    /* margin-bottom: -103px; */
}
.fr_toggle_box.active .box_content {
    top: auto;
}
.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #cc252a !important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}
.fr_toggle_box .text p {
    margin-top: 10px;
}
.special-post-list .uabb-blog-posts-grid .wp-post-image{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.gfield .gfield_time_hour > i{
		margin-top: -3px!important;
	}
.minHundre .fl-row-content{
		    min-width: 100%;
	}
.fl-rich-text .open_sidebar > a, .fl-html .close_sidebar_button > a{
    background-color: #b72025!important;
    color: #fff!important;
}
.fl-rich-text .open_sidebar > a span, .fl-html .close_sidebar_button > a  span{
    color: #fff!important;
}
.fl-rich-text .open_sidebar > a:hover, .fl-html .close_sidebar_button > a:hover{
    background-color: #000!important;
    color: #fff!important;
}
.saleBanner .fl-rich-text >  p{
    margin: 0px!important;
}

@media(min-width: 768px) and (max-width: 1024px) {
ul.store-opening-hrs li span {
    left: 105px;

}
.ipadMar > .fl-col-content{
	padding: 20px!important;
}
}
@media(max-width:1024px) {
	.tabletHide{
		display: none!important;
	}
    .fr_toggle_box {
        display: none;
    }
}
@media(max-width: 768px) {
   .max-width-issues img{
       max-width: 360px;
       width: 100%;
       margin: 0 auto;
       display: block; 
   } 
.fr_toggle_box .uabb-post-grid-4 .uabb-blog-posts-col-4 {
    width: 50%!important;
}

}

@media(max-width: 768px) {
.fr_toggle_box.active .box_content {
    top: 120px;
}
.fr_toggle_box.active .box_content .padding{
    overflow: scroll;
    max-height: 100%;
}
}
@media(max-width: 500px) {
.HeaderLogo img{
    width: 220px!important;
}
	form .gform_footer{
    padding-right: 15px!important;
}
	.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
    vertical-align: top!important;
}
.fr_toggle_box .uabb-post-grid-4 .uabb-blog-posts-col-4 {
    width: 100%!important;
}
.fr_toggle_box .padding .uabb-post-grid-4{
 	overflow: auto;
 	height: 300px;   
 }

.fr_toggle_box .padding{
	padding-top: 20px;
}
}